.card {
	position: relative;
	background: #fff;
	top: 60px;
	border-radius: 10px;
	padding: 200px 40px 40px 40px;
	margin: 1em;
	max-width: 170px;
	text-align: center;
}

.card h1 {
	font-size: 16px;
	text-align: center;
	padding-top: 0;
	margin-top: 0;
}

.card p {
	font-size: 8.5px;
	color: #bbb;
	line-height: 1.6em;
}

.card button {
	border: none;
	padding: 8px 30px;
	color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
	border-radius: 20px;
	margin: 40px 0 20px 0; 

}

.card button.call-action.yellow {
	background: #f3b23e;
}

.card button.call-action.roxo {
	background: #8174ba;
}

.card button.call-action.verde {
	background: #3f6d84;
}

.pages span{
	display: inline-block;
	background: rgba(200, 200 , 200, 0.8);
	width: 4px;
	height: 4px;
	border-radius: 50%;
	transition: background .2s ease;
}

.pages span+span{
	margin-left: 5px;
}

.pages span.current {
	background: rgba(60, 60, 60, .75);
}

img {
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translate(-50%,0);
}