@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700');

div.card h1 {
	font-family: 'Cormorant Garamond', serif;
	font-size: 22px;
}

div.card p {
	font-family: helvetica, sans-serif;
}